// color
$color-primary = #191919
$color-primary-invert = #fff
$color-additional1 = #479fcd
$color-additional1-light = #b3dcf1
$color-additional1-highlight = #eaf8ff
$color-additional2 = #88b442
$color-additional2-highlight = #618626
$color-additional3 = #e35828
$color-additional4 = #317ea6
// font-weight, in case there are bold and semi-bold fonts
$font-bold = 900
$font-semibold = 700
$footer-height = 97px

html
body
.b-page
  height 100%

b
strong
  font-weight bold

.i-clearfix:before
.i-clearfix:after
  content ''
  display table

.i-clearfix:after
  clear both

.i-clearfix
  zoom 1

.b-subtitle
  color $color-primary
  font-family 'SegoeUI'
  font-size 20px
  font-weight $font-semibold
  margin-bottom 18px

.b-olist
  color $color-primary
  font-family 'SegoeUI'
  font-size 14px
  line-height 18px
  list-style-position inside
  list-style-type decimal
  margin-bottom 10px
  &__item
    margin-bottom 3px

.b-ulist
  color $color-primary
  font-family 'SegoeUI'
  font-size 14px
  line-height 18px
  list-style-position inside
  list-style-image url('../images/bullet_green.png')
  margin-bottom 10px
  &__item
    margin-bottom 3px

.b-table
  border 1px solid $color-additional1
  font-family 'SegoeUI'
  font-size 15px
  margin-top 35px
  margin-bottom 35px
  &__header
    background $color-additional1
    border-left 1px solid $color-additional1-light
    border-right 1px solid $color-additional1-light
    color $color-primary-invert
    font-weight $font-semibold
    padding 10px 7px
    text-align center
    &:first-child
      border-left 1px solid $color-additional1
    &:last-child
      border-right 1px solid $color-additional1
  &__cell
    border 1px solid $color-additional1
    min-width 133px
    padding 6px 7px 7px
    text-align center
    &_mode_highlight
      background $color-additional1-highlight
      text-align left

.b-quote
  background #f2ebbe url('../images/quote.png') no-repeat 13px 14px
  color $color-primary
  font-family 'SegoeUI'
  font-size 14px
  font-style italic
  line-height 19px
  margin-top 40px
  padding 18px 23px 26px 58px

.b-main
  background #f0f0f0
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto - $footer-height
  &__wrapper
    background $color-primary-invert
    margin 0 auto
    width 1060px
  &__footer
    height $footer-height
    margin-top 20px

.b-header
  padding 20px 30px
  &__brand
    float left
    width 40%
    &-link
      text-decoration none
      &:hover
        text-decoration none
    &-logo
      float left
      margin-right 11px
    &-name
      color $color-additional3
      font-family 'SegoeUI'
      font-size 31px
      font-weight $font-semibold
      margin-top 7px
      text-transform uppercase
    &-city
      color $color-primary
      font-size 36px
      font-weight $font-bold
    &-domain
      left -5px
      position relative
      top 0
    &-slogan
      color $color-primary
      font-family 'SegoeUI'
      font-size 15px
      margin-top 7px
  &__contacts
    background url('../images/phone.png') no-repeat 0 12px
    float right
    margin-top 7px
    padding-bottom 10px
    padding-left 21px
    text-align right
    width 20%
    &-incity
      color #6a6a6a
      font-family Cuprum
      font-size 10px
      text-transform uppercase
      &-phone
        color $color-additional3
        font-size 23px
        font-family 'SegoeUI'
        font-weight $font-bold
        position relative
        top 1px
    &-8800
      color $color-primary
      font-family 'SegoeUI'
      font-size 23px
      font-weight $font-bold
      margin-top 8px

.b-navi
  padding 4px 30px 0
  &__order
    background $color-additional2
    border none
    color $color-primary-invert
    cursor pointer
    float right
    font-family 'SegoeUI'
    font-size 17px
    font-weight $font-semibold
    line-height 46px
    padding-bottom 0
    padding-top 0
    width 22%
  &__menu
    background $color-additional1
    width 77%
    &-link
      color $color-primary-invert
      display block
      float left
      font-family 'SegoeUI'
      font-size 17px
      font-weight 200
      line-height 46px
      padding 0 20px
      text-decoration none
      &_state_active
        background $color-additional4
      &:hover
        background $color-additional4
        text-decoration none

.b-services
  padding 30px 30px 0
  &__title
    border-bottom 1px solid #f0ae86
    color $color-primary
    font-family 'SegoeUI'
    font-size 25px
    font-weight $font-semibold
    margin-bottom 18px
    &-text
      background $color-primary-invert
      display inline-block
      padding-right 10px
      position relative
      top 4px
  &__list
    margin-bottom 12px
    text-align center
  &__item
    display inline-block
    height 50px
    margin-bottom 7px
    padding-top 120px
    text-align center
    width 195px
    &_bg_01
      background url('../images/service_01.png') no-repeat 50% 27px
    &_bg_02
      background url('../images/service_02.png') no-repeat 50% 22px
    &_bg_03
      background url('../images/service_03.png') no-repeat 50% 30px
    &_bg_04
      background url('../images/service_04.png') no-repeat 50% 29px
    &_bg_05
      background url('../images/service_05.png') no-repeat 50% 15px
  &__link
    color $color-additional4
    font-family 'SegoeUI'
    font-size 15px
    line-height 18px
    &:hover
      color $color-additional3
      text-decoration none
  &__text
    color $color-primary
    font-family 'SegoeUI'
    font-size 14px
    line-height 17px
    margin-bottom 17px

.b-reviews
  padding 22px 30px 3px
  &__title
    border-bottom 1px solid #82c7ec
    color $color-primary
    font-family 'SegoeUI'
    font-size 25px
    font-weight $font-semibold
    margin-bottom 0
    &-text
      background $color-primary-invert
      display inline-block
      padding-right 10px
      position relative
      top 3px
  &__list
    margin-top 34px
  &__item
    display inline-block
    margin-left 23px
    vertical-align top
    width 315px
    &:first-child
      margin-left 0
    &-author
      color $color-additional2-highlight
      font-family 'SegoeUI'
      font-size 14px
      font-weight $font-bold
    &-type
      color #505050
      font-family 'SegoeUI'
      font-size 14px
      margin-top 3px
    &-content
      background #f2ebbe
      color #55523d
      font-family 'SegoeUI'
      font-size 13px
      line-height 17px
      margin-top 5px
      min-height 138px
      padding 11px 7px 12px 10px
    &-text
      margin-top 17px
      &:first-child
        margin-top 0
  &__more
    margin-top 10px
    text-align right
    &-link
      color $color-additional4
      font-family 'SegoeUI'
      font-size 14px
      &:hover
        text-decoration none

.b-news
  padding 20px 30px 18px
  &__title
    border-bottom 1px solid #99cd47
    color $color-primary
    font-family 'SegoeUI'
    font-size 25px
    font-weight $font-semibold
    margin-bottom 0px
    &-text
      background $color-primary-invert
      display inline-block
      padding-right 10px
      position relative
      top 3px
  &__list
    margin-top 33px
  &__item
    display inline-block
    font-family 'SegoeUI'
    margin-left 35px
    vertical-align top
    width 320px
    &:first-child
      margin-left 0
    &:last-child
      margin-left 20px
      width 295px
    &-date-column
      float left
      padding-top 3px
      width 40px
    &-date
      background $color-additional3
      color $color-primary-invert
      font-size 17px
      font-weight $font-bold
      line-height 14px
      padding 5px 0 6px
      text-align center
      &-month
        font-size 13px
        font-weight normal
    &-content
      margin-left 50px
    &-link
      color $color-additional4
      font-size 17px
      font-weight $font-semibold
      line-height 19px
      &:hover
        color $color-additional3
        text-decoration none
    &-text
      color $color-primary
      font-size 13px
      line-height 17px
      margin-top 7px

// for secondary pages, single service
.b-service
  padding 30px 30px 18px
  &__title
    border-bottom 1px solid #f0ae86
    color $color-primary
    font-family 'SegoeUI'
    font-size 25px
    font-weight $font-semibold
    margin-bottom 27px
    &-text
      background $color-primary-invert
      display inline-block
      padding-right 10px
      position relative
      top 3px
  &__text
    color $color-primary
    font-family 'SegoeUI'
    font-size 14px
    line-height 17px
    margin-bottom 17px

.b-slider
  height 360px
  left 0
  margin-bottom 40px
  position relative
  top 0
  width 100%
  &__container
    cursor move
    height 360px
    left 5%
    margin 0 auto
    overflow hidden
    position absolute
    top 0
    width 90%
  &__arrow
    cursor pointer
    display block
    height 99px
    overflow hidden
    position absolute
    width 25px
    &_mode_left
      background url('../images/slider_arrow_left.png') no-repeat
      left 1px
      top 99px
    &_mode_right
      background url('../images/slider_arrow_right.png') no-repeat
      top 99px
      right 1px
  &__bullet
    bottom 4px
    position absolute
    right 6px
    & div
    & div:hover
    & .av
      background url('../images/slider_bullet.png') no-repeat
      cursor pointer
      height 21px
      overflow hidden
      position absolute
      width 21px
    & .av
      background url('../images/slider_bullet_active.png') no-repeat
  &__item-details
    position absolute
    right 37px
    top 29px
    &-title
      color $color-additional4
      font-family 'SegoeUI'
      font-size 40px
      font-weight $font-bold
    &-subtitle
      color $color-primary
      font-family 'SegoeUI'
      font-size 15px
      font-weight $font-bold
      margin-top 12px
    &-list
      font-family 'SegoeUI'
      margin-top 12px
      &-key
        color #6c6c6c
        float left
        line-height 26px
      &-value
        color $color-primary
        line-height 21px
        margin-left 147px
        margin-top 3px
    &-price
      color #000
      font-family 'SegoeUI'
      font-size 15px
      font-weight 900
      margin-top 15px
    &-sum
      color #e91717
      font-size 22px
    &-button
      background $color-additional2
      border none
      border-radius 3px
      color $color-primary-invert
      cursor pointer
      font-family 'SegoeUI'
      font-size 21px
      font-weight $font-bold
      line-height 37px
      margin-left 38px
      margin-top 21px
      padding 0 41px

.b-order
  background $color-additional1
  margin 0 auto 40px
  padding 23px
  width 604px
  &__select
    background $color-primary-invert url('../images/arrow_down.png') no-repeat 95% 50%
    border 1px solid $color-primary-invert
    border-radius 3px
    cursor pointer
    display inline-block
    height 35px
    line-height 35px
    margin-left 20px
    margin-bottom 16px
    overflow hidden
    width 287px
    &:first-child
      margin-left 0
    & select
      background transparent
      border none
      color #373737
      cursor pointer
      font-family 'SegoeUI'
      font-size 16px
      width 120%
  &__field
    display inline-block
    margin-left 20px
    width 185px
    &:first-of-type
      margin-left 0
  &__input
    border none
    border-radius 3px
    color #373737
    font-family 'SegoeUI'
    font-size 16px
    height 35px
    line-height 35px
    padding 0 11px
    width 165px
  &__button
    background $color-additional3
    border none
    border-radius 3px
    color $color-primary-invert
    cursor pointer
    display block
    font-family 'SegoeUI'
    font-size 21px
    font-weight $font-bold
    height 37px
    line-height 37px
    margin 26px auto 0
    padding 0 41px

.b-footer
  background #759345
  color $color-primary-invert
  height $footer-height
  overflow-y hidden
  &__wrapper
    margin 0 auto
    padding 25px 25px 35px
    width 1010px
  &__copyright
    background url('../images/logo_footer.png') no-repeat 6px 0
    box-sizing border-box
    float left
    font-family 'SegoeUI'
    padding 6px 0 15px 59px
    width 24%
    &-title
      font-size 13px
      text-transform uppercase
      &-city
        display inline-block
        font-weight $font-bold
        margin-left 6px
      &-domain
        display inline-block
        font-weight $font-semibold
        margin-left 5px
    &-description
      font-size 11px
      margin-left 1px
      margin-top 6px
  &__menu
    float left
    font-family 'SegoeUI'
    padding-top 12px
    width 55%
    &-list
      font-size 14px
      margin-left 94px
    &-item
      float left
      padding 0 14px
    &-link
      border-bottom 1px solid $color-primary-invert
      color $color-primary-invert
      text-decoration none
      &:hover
        border none
        text-decoration none
  &__counters
    float right
    padding-top 6px
    text-align right
    width: 19%
    &-link
      margin-right 4px
