$footer-height = 97px

html
body
.b-page
  height 100%

b
strong
  font-weight bold

.i-clearfix:before
.i-clearfix:after
  content ''
  display table

.i-clearfix:after
  clear both

.i-clearfix
  zoom 1

.b-main
  background #f0f0f0
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto - $footer-height
  &__wrapper
    background #fff
    margin 0 auto
    width 1060px
  &__footer
    height $footer-height
    margin-top 20px

.b-header
  padding 20px 30px
  &__brand
    float left
    width 40%
    &-link
      text-decoration none
      &:hover
        text-decoration none
    &-logo
      float left
      margin-right 10px
    &-name
      color #e35828
      font-size 31px
      margin-top 14px
      text-transform uppercase
    &-city
      color #191919
      font-size 36px
      font-weight bold
    &-slogan
      color #191919
      font-size 15px
  &__contacts
    background url('../images/phone.png') no-repeat
    float right
    margin-top 14px
    padding-left 40px
    text-align right
    width 20%
    &-incity
      color #6a6a6a
      font-size 11px
      text-transform uppercase
      &-phone
        color #e35828
        font-size 23px
        font-weight bold
    &-8800
      color #191919
      font-size 23px
      font-weight bold

.b-navi
  padding 20px 30px
  &__order
    background #88b442
    border none
    color #fff
    cursor pointer
    float right
    font-size 17px
    line-height 47px
    width 25%
  &__menu
    background #479fcd
    width 74%
    &-link
      color #fff
      display block
      float left
      font-size 17px
      line-height 47px
      padding 0 20px
      text-decoration none
      &_state_active
        background #317ea6
      &:hover
        background #317ea6
        text-decoration none

.b-services
  padding 0 30px
  &__title
    border-bottom 1px solid #f0ae86
    color #191919
    font-size 25px
    font-weight bold
    margin-bottom 20px
    &-text
      background #fff
      display inline-block
      padding-right 10px
      position relative
      top 8px
  &__list
    text-align center
  &__item
    display inline-block
    height 50px
    padding-top 105px
    text-align center
    width 228px
    &_bg_01
      background url('../images/service_01.png') no-repeat 50% 15px
    &_bg_02
      background url('../images/service_02.png') no-repeat 50% 10px
    &_bg_03
      background url('../images/service_03.png') no-repeat 50% 13px
    &_bg_04
      background url('../images/service_04.png') no-repeat 50% 12px
    &_bg_05
      background url('../images/service_05.png') no-repeat 50% 0
  &__link
    color #317ea6
    font-size 15px
    &:hover
      color #e35828
      text-decoration none
  &__text
    color #191919
    font-size 14px
    margin-bottom 20px

.b-reviews
  padding 0 30px
  &__title
    border-bottom 1px solid #82c7ec
    color #191919
    font-size 25px
    font-weight bold
    margin-bottom 20px
    &-text
      background #fff
      display inline-block
      padding-right 10px
      position relative
      top 8px
  &__item
    display inline-block
    margin-left 23px
    vertical-align top
    width 315px
    &:first-child
      margin-left 0
    &-author
      color #618626
      font-size 14px
      font-weight bold
    &-type
      color #505050
      font-size 14px
    &-content
      background #f2ebbe
      color #55523d
      font-size 13px
      line-height 16px
      margin-top 5px
      min-height 124px
      padding 10px
    &-text
      margin-top 20px
      &:first-child
        margin-top 0
  &__more
    margin-top 10px
    text-align right
    &-link
      color #317ea6
      font-size 14px
      &:hover
        text-decoration none

.b-news
  padding 0 30px
  &__title
    border-bottom 1px solid #99cd47
    color #191919
    font-size 25px
    font-weight bold
    margin-bottom 20px
    &-text
      background #fff
      display inline-block
      padding-right 10px
      position relative
      top 8px
  &__item
    display inline-block
    margin-left 30px
    width 310px
    &:first-child
      margin-left 0
    &-date-column
      float left
      width 40px
    &-date
      background #e35828
      color #fff
      font-size 17px
      font-weight bold
      padding 5px 0
      text-align center
      &-month
        font-size 13px
        font-weight normal
    &-content
      margin-left 50px
    &-link
      color #317ea6
      font-size 17px
      font-weight bold
      &:hover
        color #e35828
        text-decoration none
    &-text
      color #191919
      font-size 13px
      line-height 15px
      margin-top 6px

.b-footer
  background #759345
  color #fff
  height $footer-height
  overflow-y hidden
  &__wrapper
    margin 0 auto
    padding 30px
    width 1060px
  &__copyright
    background url('../images/logo_footer.png') no-repeat
    box-sizing border-box
    float left
    padding 10px 0 15px 55px
    width 20%
    &-title
      font-size 13px
      text-transform uppercase
    &-description
      font-size 11px
  &__menu
    float left
    padding-top 10px
    width 60%
    &-list
      font-size 14px
      margin-left 120px
    &-item
      float left
      padding 0 15px
    &-link
      border-bottom 1px solid #fff
      color #fff
      text-decoration none
      &:hover
        border none
        text-decoration none
  &__counters
    float right
    padding-top 5px
    text-align right
    width: 20%
