html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
q:after,
blockquote:before,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
.b-page {
  height: 100%;
}

b,
strong {
  font-weight: bold;
}

.i-clearfix:before,
.i-clearfix:after {
  content: '';
  display: table;
}

.i-clearfix:after {
  clear: both;
}

.i-clearfix {
  zoom: 1;
}

.b-main {
  background: #f0f0f0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -97px;
}

.b-main__wrapper {
  background: #fff;
  margin: 0 auto;
  width: 1060px;
}

.b-header {
  padding: 20px 30px;
}

.b-header__brand {
  float: left;
  width: 40%;
}

.b-header__brand-link {
  text-decoration: none;
}

.b-header__brand-link:hover {
  text-decoration: none;
}

.b-header__brand-logo {
  float: left;
  margin-right: 10px;
}

.b-header__brand-name {
  color: #e35828;
  font-size: 31px;
  margin-top: 14px;
  text-transform: uppercase;
}

.b-header__brand-city {
  color: #191919;
  font-size: 36px;
  font-weight: bold;
}

.b-header__brand-slogan {
  color: #191919;
  font-size: 15px;
}

.b-header__contacts {
  background: url("../images/phone.png") no-repeat;
  float: right;
  margin-top: 14px;
  padding-left: 40px;
  text-align: right;
  width: 20%;
}

.b-header__contacts-incity {
  color: #6a6a6a;
  font-size: 11px;
  text-transform: uppercase;
}

.b-header__contacts-incity-phone {
  color: #e35828;
  font-size: 23px;
  font-weight: bold;
}

.b-header__contacts-8800 {
  color: #191919;
  font-size: 23px;
  font-weight: bold;
}

.b-navi {
  padding: 20px 30px;
}

.b-navi__order {
  background: #88b442;
  border: none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 17px;
  line-height: 47px;
  width: 25%;
}

.b-navi__menu {
  background: #479fcd;
  width: 74%;
}

.b-navi__menu-link {
  color: #fff;
  display: block;
  float: left;
  font-size: 17px;
  line-height: 47px;
  padding: 0 20px;
  text-decoration: none;
}

.b-navi__menu-link_state_active {
  background: #317ea6;
}

.b-navi__menu-link:hover {
  background: #317ea6;
  text-decoration: none;
}

.b-services {
  padding: 0 30px;
}

.b-services__title {
  border-bottom: 1px solid #f0ae86;
  color: #191919;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.b-services__title-text {
  background: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 8px;
}

.b-services__list {
  text-align: center;
}

.b-services__item {
  display: inline-block;
  height: 50px;
  padding-top: 105px;
  text-align: center;
  width: 228px;
}

.b-services__item_bg_01 {
  background: url("../images/service_01.png") no-repeat 50% 15px;
}

.b-services__item_bg_02 {
  background: url("../images/service_02.png") no-repeat 50% 10px;
}

.b-services__item_bg_03 {
  background: url("../images/service_03.png") no-repeat 50% 13px;
}

.b-services__item_bg_04 {
  background: url("../images/service_04.png") no-repeat 50% 12px;
}

.b-services__item_bg_05 {
  background: url("../images/service_05.png") no-repeat 50% 0;
}

.b-services__link {
  color: #317ea6;
  font-size: 15px;
}

.b-services__link:hover {
  color: #e35828;
  text-decoration: none;
}

.b-services__text {
  color: #191919;
  font-size: 14px;
  margin-bottom: 20px;
}

.b-footer {
  background: #759345;
  color: #fff;
  height: 97px;
  overflow-y: hidden;
}

.b-footer__wrapper {
  margin: 0 auto;
  padding: 30px;
  width: 1060px;
}

.b-footer__copyright {
  background: url("../images/logo_footer.png") no-repeat;
  box-sizing: border-box;
  float: left;
  padding: 10px 0 15px 55px;
  width: 20%;
}

.b-footer__copyright-title {
  font-size: 13px;
  text-transform: uppercase;
}

.b-footer__copyright-description {
  font-size: 11px;
}

.b-footer__menu {
  float: left;
  padding-top: 10px;
  width: 60%;
}

.b-footer__menu-list {
  font-size: 14px;
  margin-left: 120px;
}

.b-footer__menu-item {
  float: left;
  padding: 0 15px;
}

.b-footer__menu-link {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.b-footer__menu-link:hover {
  border: none;
  text-decoration: none;
}

.b-footer__counters {
  float: right;
  padding-top: 5px;
  text-align: right;
  width: 20%;
}