html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
q:after,
blockquote:before,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum-regular-webfont.eot");
  src: url("../fonts/cuprum-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/cuprum-regular-webfont.woff2") format('woff2'), url("../fonts/cuprum-regular-webfont.woff") format('woff'), url("../fonts/cuprum-regular-webfont.ttf") format('truetype'), url("../fonts/cuprum-regular-webfont.svg#cuprumregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUI.woff") format('woff'), url("../fonts/SegoeUI.ttf") format('truetype'), url("../fonts/SegoeUI.svg#SegoeUI") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUI-Light.woff") format('woff'), url("../fonts/SegoeUI-Light.ttf") format('truetype'), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUI-SemiBold.woff") format('woff'), url("../fonts/SegoeUI-SemiBold.ttf") format('truetype'), url("../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUI-Bold.woff") format('woff'), url("../fonts/SegoeUI-Bold.ttf") format('truetype'), url("../fonts/SegoeUI-Bold.svg#SegoeUI-Bold") format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUI-Italic.woff") format('woff'), url("../fonts/SegoeUI-Italic.ttf") format('truetype'), url("../fonts/SegoeUI-Italic.svg#SegoeUI-Italic") format('svg');
  font-weight: normal;
  font-style: italic;
}
html,
body,
.b-page {
  height: 100%;
}

b,
strong {
  font-weight: bold;
}

.i-clearfix:before,
.i-clearfix:after {
  content: '';
  display: table;
}

.i-clearfix:after {
  clear: both;
}

.i-clearfix {
  zoom: 1;
}

.b-subtitle {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.b-olist {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 14px;
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 5px;
}

.b-olist__item {
  margin-bottom: 3px;
}

.b-ulist {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 14px;
  list-style-position: inside;
  list-style-image: url("../images/bullet_green.png");
  margin-bottom: 5px;
}

.b-ulist__item {
  margin-bottom: 3px;
}

.b-table {
  border: 1px solid #479fcd;
  font-family: 'SegoeUI';
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.b-table__header {
  background: #479fcd;
  border-left: 1px solid #b3dcf1;
  border-right: 1px solid #b3dcf1;
  color: #fff;
  font-weight: 700;
  padding: 7px;
  text-align: center;
}

.b-table__header:first-child {
  border-left: 1px solid #479fcd;
}

.b-table__header:last-child {
  border-right: 1px solid #479fcd;
}

.b-table__cell {
  border: 1px solid #479fcd;
  min-width: 153px;
  padding: 7px;
  text-align: center;
}

.b-table__cell_mode_highlight {
  background: #eaf8ff;
  text-align: left;
}

.b-quote {
  background: #f2ebbe url("../images/quote.png") no-repeat 13px 14px;
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 14px;
  font-style: italic;
  margin-top: 40px;
  padding: 23px 23px 23px 58px;
}

.b-main {
  background: #f0f0f0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -97px;
}

.b-main__wrapper {
  background: #fff;
  margin: 0 auto;
  width: 1060px;
}

.b-main__footer {
  height: 97px;
  margin-top: 20px;
}

.b-header {
  padding: 20px 30px;
}

.b-header__brand {
  float: left;
  width: 40%;
}

.b-header__brand-link {
  text-decoration: none;
}

.b-header__brand-link:hover {
  text-decoration: none;
}

.b-header__brand-logo {
  float: left;
  margin-right: 11px;
}

.b-header__brand-name {
  color: #e35828;
  font-family: 'SegoeUI';
  font-size: 31px;
  font-weight: 700;
  margin-top: 7px;
  text-transform: uppercase;
}

.b-header__brand-city {
  color: #191919;
  font-size: 36px;
  font-weight: 900;
}

.b-header__brand-domain {
  left: -5px;
  position: relative;
  top: 0;
}

.b-header__brand-slogan {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 15px;
  margin-top: 7px;
}

.b-header__contacts {
  background: url("../images/phone.png") no-repeat 0 12px;
  float: right;
  margin-top: 7px;
  padding-bottom: 10px;
  padding-left: 21px;
  text-align: right;
  width: 20%;
}

.b-header__contacts-incity {
  color: #6a6a6a;
  font-family: Cuprum;
  font-size: 10px;
  text-transform: uppercase;
}

.b-header__contacts-incity-phone {
  color: #e35828;
  font-size: 23px;
  font-family: 'SegoeUI';
  font-weight: 900;
  position: relative;
  top: 1px;
}

.b-header__contacts-8800 {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 23px;
  font-weight: 900;
  margin-top: 8px;
}

.b-navi {
  padding: 4px 30px 0;
}

.b-navi__order {
  background: #88b442;
  border: none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: 'SegoeUI';
  font-size: 17px;
  font-weight: 700;
  line-height: 46px;
  padding-bottom: 0;
  padding-top: 0;
  width: 22%;
}

.b-navi__menu {
  background: #479fcd;
  width: 77%;
}

.b-navi__menu-link {
  color: #fff;
  display: block;
  float: left;
  font-family: 'SegoeUI';
  font-size: 17px;
  font-weight: 200;
  line-height: 46px;
  padding: 0 20px;
  text-decoration: none;
}

.b-navi__menu-link_state_active {
  background: #317ea6;
}

.b-navi__menu-link:hover {
  background: #317ea6;
  text-decoration: none;
}

.b-services {
  padding: 30px 30px 0;
}

.b-services__title {
  border-bottom: 1px solid #f0ae86;
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 18px;
}

.b-services__title-text {
  background: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 4px;
}

.b-services__list {
  margin-bottom: 12px;
  text-align: center;
}

.b-services__item {
  display: inline-block;
  height: 50px;
  margin-bottom: 7px;
  padding-top: 120px;
  text-align: center;
  width: 195px;
}

.b-services__item_bg_01 {
  background: url("../images/service_01.png") no-repeat 50% 27px;
}

.b-services__item_bg_02 {
  background: url("../images/service_02.png") no-repeat 50% 22px;
}

.b-services__item_bg_03 {
  background: url("../images/service_03.png") no-repeat 50% 30px;
}

.b-services__item_bg_04 {
  background: url("../images/service_04.png") no-repeat 50% 29px;
}

.b-services__item_bg_05 {
  background: url("../images/service_05.png") no-repeat 50% 15px;
}

.b-services__link {
  color: #317ea6;
  font-family: 'SegoeUI';
  font-size: 15px;
  line-height: 18px;
}

.b-services__link:hover {
  color: #e35828;
  text-decoration: none;
}

.b-services__text {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 17px;
}

.b-reviews {
  padding: 22px 30px 3px;
}

.b-reviews__title {
  border-bottom: 1px solid #82c7ec;
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}

.b-reviews__title-text {
  background: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.b-reviews__list {
  margin-top: 34px;
}

.b-reviews__item {
  display: inline-block;
  margin-left: 23px;
  vertical-align: top;
  width: 315px;
}

.b-reviews__item:first-child {
  margin-left: 0;
}

.b-reviews__item-author {
  color: #618626;
  font-family: 'SegoeUI';
  font-size: 14px;
  font-weight: 900;
}

.b-reviews__item-type {
  color: #505050;
  font-family: 'SegoeUI';
  font-size: 14px;
  margin-top: 3px;
}

.b-reviews__item-content {
  background: #f2ebbe;
  color: #55523d;
  font-family: 'SegoeUI';
  font-size: 13px;
  line-height: 17px;
  margin-top: 5px;
  min-height: 138px;
  padding: 11px 7px 12px 10px;
}

.b-reviews__item-text {
  margin-top: 17px;
}

.b-reviews__item-text:first-child {
  margin-top: 0;
}

.b-reviews__more {
  margin-top: 10px;
  text-align: right;
}

.b-reviews__more-link {
  color: #317ea6;
  font-family: 'SegoeUI';
  font-size: 14px;
}

.b-reviews__more-link:hover {
  text-decoration: none;
}

.b-news {
  padding: 20px 30px 18px;
}

.b-news__title {
  border-bottom: 1px solid #99cd47;
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}

.b-news__title-text {
  background: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.b-news__list {
  margin-top: 33px;
}

.b-news__item {
  display: inline-block;
  font-family: 'SegoeUI';
  margin-left: 35px;
  vertical-align: top;
  width: 320px;
}

.b-news__item:first-child {
  margin-left: 0;
}

.b-news__item:last-child {
  margin-left: 20px;
  width: 295px;
}

.b-news__item-date-column {
  float: left;
  padding-top: 3px;
  width: 40px;
}

.b-news__item-date {
  background: #e35828;
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 14px;
  padding: 5px 0 6px;
  text-align: center;
}

.b-news__item-date-month {
  font-size: 13px;
  font-weight: normal;
}

.b-news__item-content {
  margin-left: 50px;
}

.b-news__item-link {
  color: #317ea6;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
}

.b-news__item-link:hover {
  color: #e35828;
  text-decoration: none;
}

.b-news__item-text {
  color: #191919;
  font-size: 13px;
  line-height: 17px;
  margin-top: 7px;
}

.b-service {
  padding: 30px 30px 18px;
}

.b-service__title {
  border-bottom: 1px solid #f0ae86;
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 27px;
}

.b-service__title-text {
  background: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.b-service__text {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 17px;
}

.b-slider {
  height: 360px;
  left: 0;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  width: 100%;
}

.b-slider__container {
  cursor: move;
  height: 360px;
  left: 5%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 90%;
}

.b-slider__arrow {
  cursor: pointer;
  display: block;
  height: 99px;
  overflow: hidden;
  position: absolute;
  width: 25px;
}

.b-slider__arrow_mode_left {
  background: url("../images/slider_arrow_left.png") no-repeat;
  left: 1px;
  top: 99px;
}

.b-slider__arrow_mode_right {
  background: url("../images/slider_arrow_right.png") no-repeat;
  top: 99px;
  right: 1px;
}

.b-slider__bullet {
  bottom: 4px;
  position: absolute;
  right: 6px;
}

.b-slider__bullet div,
.b-slider__bullet div:hover,
.b-slider__bullet .av {
  background: url("../images/slider_bullet.png") no-repeat;
  cursor: pointer;
  height: 21px;
  overflow: hidden;
  position: absolute;
  width: 21px;
}

.b-slider__bullet .av {
  background: url("../images/slider_bullet_active.png") no-repeat;
}

.b-slider__item-details {
  position: absolute;
  right: 37px;
  top: 29px;
}

.b-slider__item-details-title {
  color: #317ea6;
  font-family: 'SegoeUI';
  font-size: 40px;
  font-weight: 900;
}

.b-slider__item-details-subtitle {
  color: #191919;
  font-family: 'SegoeUI';
  font-size: 15px;
  font-weight: 900;
  margin-top: 12px;
}

.b-slider__item-details-list {
  font-family: 'SegoeUI';
  margin-top: 12px;
}

.b-slider__item-details-list-key {
  color: #6c6c6c;
  float: left;
  line-height: 26px;
}

.b-slider__item-details-list-value {
  color: #191919;
  line-height: 21px;
  margin-left: 147px;
  margin-top: 3px;
}

.b-slider__item-details-price {
  color: #000;
  font-family: 'SegoeUI';
  font-size: 15px;
  font-weight: 900;
  margin-top: 15px;
}

.b-slider__item-details-sum {
  color: #e91717;
  font-size: 22px;
}

.b-slider__item-details-button {
  background: #88b442;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: 'SegoeUI';
  font-size: 21px;
  font-weight: 900;
  line-height: 37px;
  margin-left: 38px;
  margin-top: 21px;
  padding: 0 41px;
}

.b-order {
  background: #479fcd;
  margin: 0 auto 40px;
  padding: 23px;
  width: 604px;
}

.b-order__select {
  background: #fff url("../images/arrow_down.png") no-repeat 95% 50%;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 287px;
}

.b-order__select:first-child {
  margin-left: 0;
}

.b-order__select select {
  background: transparent;
  border: none;
  color: #373737;
  cursor: pointer;
  font-family: 'SegoeUI';
  font-size: 16px;
  width: 120%;
}

.b-order__field {
  display: inline-block;
  margin-left: 20px;
  width: 185px;
}

.b-order__field:first-of-type {
  margin-left: 0;
}

.b-order__input {
  border: none;
  border-radius: 3px;
  box-sizing: padding-box;
  color: #373737;
  font-family: 'SegoeUI';
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  padding: 0 11px;
  width: 185px;
}

.b-order__button {
  background: #e35828;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'SegoeUI';
  font-size: 21px;
  font-weight: 900;
  height: 37px;
  line-height: 37px;
  margin: 26px auto 0;
  padding: 0 41px;
}

.b-footer {
  background: #759345;
  color: #fff;
  height: 97px;
  overflow-y: hidden;
}

.b-footer__wrapper {
  margin: 0 auto;
  padding: 25px 25px 35px;
  width: 1010px;
}

.b-footer__copyright {
  background: url("../images/logo_footer.png") no-repeat 6px 0;
  box-sizing: border-box;
  float: left;
  font-family: 'SegoeUI';
  padding: 6px 0 15px 59px;
  width: 24%;
}

.b-footer__copyright-title {
  font-size: 13px;
  text-transform: uppercase;
}

.b-footer__copyright-title-city {
  display: inline-block;
  font-weight: 900;
  margin-left: 6px;
}

.b-footer__copyright-title-domain {
  display: inline-block;
  font-weight: 700;
  margin-left: 5px;
}

.b-footer__copyright-description {
  font-size: 11px;
  margin-left: 1px;
  margin-top: 6px;
}

.b-footer__menu {
  float: left;
  font-family: 'SegoeUI';
  padding-top: 12px;
  width: 55%;
}

.b-footer__menu-list {
  font-size: 14px;
  margin-left: 94px;
}

.b-footer__menu-item {
  float: left;
  padding: 0 14px;
}

.b-footer__menu-link {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.b-footer__menu-link:hover {
  border: none;
  text-decoration: none;
}

.b-footer__counters {
  float: right;
  padding-top: 6px;
  text-align: right;
  width: 19%;
}

.b-footer__counters-link {
  margin-right: 4px;
}